<launch>
  <include file="$(find cmvision)/launch/cmvision.launch" />

  <!-- arg name="depth_image" default="camera/depth_registered/image_raw"/-->
  <arg name="depth_image" default="/stereo/left/image_raw"/>
  <arg name="camera_topic" default="/stereo/left/camera_info"/>
  <!-- Do we want to publish our blobs to tf? -->
  <arg name="publish_tf" default="true"/>

  <!-- color_controller conglomerates all the necessary info to publish /blobs_3d and optionally tf transforms for the colors. -->
  <node name="color_controller" pkg="cmvision_3d" type="color_controller.py" output="screen">
    <!-- If we wish to project into the world we need depth information. -->
      <remap  from="depth_image" to="$(arg depth_image)"/>
      <!--  Camera topic is also necessary for our PinholeCameraModel.-->
      <remap from="camera_topic" to="$(arg camera_topic)" />
      <!-- Are we going to publish our blobs to tf? NOTE: If there are multiple catches for a single color, it only publishes the one with the largest area. -->
      <param name="publish_tf" value="$(arg publish_tf)"/>
  </node>

</launch>
